<ion-header>
  <!-- <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title> 
  </ion-navbar>
-->
<custom-logged-header [title]="view | capitalize: true"></custom-logged-header>

  <ion-toolbar>
    <ion-segment [(ngModel)]="view"> <!-- esse ng model vai mostrar qual das 2 abas vai mostrar-->
      <ion-segment-button value="chats">
        Chats
      </ion-segment-button>
      <ion-segment-button value="users">
        Users
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <div [ngSwitch]="view">  <!-- o ng switch vai ficar ouvindo o ng model VIEW -->

    <ion-list no-lines *ngSwitchCase=" 'chats' "> <!-- se o view for o CHATS -->
      <button ion-item *ngFor="let chat of chats | async" (click)="onChatOpen(chat)">
        <h2>{{ chat.title }}</h2>
        <!-- se c.lastMessage for FALSE, ele cai no else, que vai chamar o elemento abaixo (através do #) -->
        <!-- <p *ngIf="chat.lastMessage; else customMessage"> {{ chat.timeStamp | date: 'dd/MM/yyyy HH:mm'}} - {{ chat.lastMessage }}</p>
        <ng-template #customMessage>
          <p>No messages.</p>
        </ng-template> -->
        <p *ngIf="chat.lastMessage"> {{ chat.timeStamp | date: 'dd/MM/yyyy HH:mm'}} - {{ chat.lastMessage }}</p>
        <p *ngIf="!chat.lastMessage">No messages.</p>
      </button>
    </ion-list>
    <ion-list no-lines *ngSwitchCase=" 'users' "> <!-- se o view for o USERS -->
      <!-- o pipe ( | async) é para esperar retornar a resposta do observable do servidor  -->
      <button ion-item *ngFor="let user of users | async" (click)="onChatCreate(user)"> {{user.name}} </button> 
    </ion-list>

  </div>
</ion-content>
