message-box {
                                    // todos os elementos dentro do <message-box>
    display:flex;
    margin-bottom: 10px;

    .text {                             // classe .text dentro do <message-box>
        background-color: #efefef;
        padding: 7px 5px;
        box-shadow: 1px 1px 3px #ccc;
        color: #333;
        overflow: auto;

        p {                             // todos os paragrafos <p> dentro do <message-box>
            font-size: 1.1em;
            margin: 0;
        }

        p.timestamp {                   // todos os paragrafos <p> com classe timestamp
            font-size: 0.8em;
            margin-top: 5px;
            color: #999;
        }
    }

    .sender-background {
        background-color: #baf46e;
        // float: right !important;
        // background-color: map-get($colors, primary ); // se quisesse usar alguma variável do tema

    }
}
